html, body {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tp-dfwv {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    scrollbar-width: none;
}

.tp-dfwv::-webkit-scrollbar { 
    display: none;
}